.container__principal--about{
  background-color: white;
}
.container__principal--quality {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 0.5px solid var(--color_color_primary_highlights);
}

.container__principal--section {
  display: flex;
  width: 330px;
  height: auto;
  margin: 0.5rem 0;
  padding: 1.2rem 0.5rem;
  transition: all 0.2s ease-in-out;
}

.container__principal--section > img {
  width: 73px;
  height: 70px;
  margin-right: 1rem;
}
.container__principal--section:hover {
  background-color: white;
  transform: scale(1.02);
}

.container__principal--quality{
  display: none;
}

.container__about--description > h2 {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  text-align: left;
}

.container__about--description > h1 {
  padding: 0 1.5rem;
  text-align: left;
}

 .container__about--image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 


.image__about {  
  width: 90%;
  height: auto;
  margin: 2rem auto;
  
}

#about__desktop{
  display: none;
}

#container__about {
  width: 90%;
  margin: 0 auto;
}

@media(min-width:768px){

  #about__mobile{
    display: none;
  }

  #about__desktop{
  display: block;
}

  .container__principal--quality{
    background-color: white;
    display: flex;
  
  }

  .container__about__desktop{
    display: flex; 
    align-items: flex-start;   
  }


  .container__about--image {
  width: 50vw;
  } 

  .container__about--text {
    margin-top: 2rem;
    width: 50vw;
  } 

}

@media(min-width:912px){
#about__desktop{
  height: 100vh;
}

}

@media(min-width:1019px){
  .text_style_headline_nunito {
  font-size: 1.2rem;
  font-weight: 300;
}
}


@media(min-width:1300px){
  .text_style_headline_nunito {
  font-size: 1.4rem;
  font-weight: 300;
}


}