.container__principal--contacts {
  margin-top: 6rem;
  padding: 1rem;
  margin-bottom: 2rem;
  height: auto;
}

.containeir__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containeir__form > label {
  padding: 0.5rem 0;
}

.containeir__form > input {
  border: solid 0.1rem #d9d9d9;
  padding: 0.5rem;
}

.containeir__form > input:focus {
  border: solid 0.1rem var(--color_color_primary_highlights);
  padding: 0.5rem;
}

#mensagem {
  border: solid 0.1rem #d9d9d9;
  border-radius: none;
  padding: 0.5rem;
  text-align: left;
  height: 120px;
  display: block;
  font-size: 1rem;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #727272;
  outline: 0;
}

#mensagem:focus {
  border: solid 0.1rem var(--color_color_primary_highlights);
  padding: 0.5rem;
}

.containeir__form > button {
  margin-top: 1rem;
  height: 2.5rem;
  background-color: #4ca5b1;
  color: white;
  border-radius: 4px;
}

.containeir__form > button:hover {
  margin-top: 1rem;
  height: 2.5rem;
  background-color: #2f6870;
  color: white;
  border-radius: 4px;
}

@media (min-width: 912px) {
  .container__principal--contacts {
    margin: 0 auto;
    max-width: 70vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .container__principal--contacts {
    padding-top: 5rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1400px) {
  .container__principal--contacts {
    margin-top: 14rem;
  }
}
