

.container__home{
  height: 100vh;  
}

.container__home--content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 8%;
  padding-bottom: 8%;
  height: 90%; 
}

.container__principal--title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2.6rem;
  padding: 3rem 0 1rem 0;
  color: white;
  
}
.container__principal--subtitle {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  color: white;
  padding-bottom: 3rem;
}

.container__principal--all-services {
  /* margin-top: 10vh; */
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} 

.container__principal--services {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 330px;
  height: auto;
  border-radius: 4px;  
  padding: 1rem 1rem;
  transition: all 0.4s ease-in-out;
}



.container__principal--services > div > p {
  color: rgb(208, 208, 208);
}

.container__principal--services:hover {
  background-color: white;
  transform: scale(1.02);
}

.container__principal--services:hover div > h3 {
  color: black;
}

.container__principal--services:hover div > p {
  color: black;
}

#container__principal--services-1:hover > img {
  content: url('../images/icones/living-room-blue-1.png');
}

#container__principal--services-2:hover > img {
  content: url('../images/icones/plan-blue-1.png');
}

#container__principal--services-3:hover > img {
  content: url('../images/icones/enterprise-blue-1.png');
}

.image__service {
  width: 63px;
  height: 60px;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.image__service:hover {
  width: 63px;
  height: 60px;
  margin-right: 1rem;
}

@media(min-width:414px){
/* .container__principal--all-services {
  margin-top: 8rem;} */
}

@media(min-width:768px){

/*   .container__home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  } */

  .container__principal--title {  
  margin-top: 2rem;
  font-weight: 200;
  font-size: 5rem;  
}
.container__principal--subtitle {
  font-weight: 200;
  font-size: 1.5rem;  
}  

/* .container__principal--all-services{
  justify-content: space-around;
  margin-top: 0;
  gap: 32px;
  max-width: 1400px;
} */


.container__principal--services {
  height: 9rem;
  width: 22rem;
}

}

@media screen and (orientation: landscape) and (max-width:1000px) {
  .container__home{
  height: auto; 
  padding: 0;
  min-height: 160%; 
}
}

@media screen and (orientation: landscape) and (max-width:1200px) {
.container__principal--company{  
  margin-top: 0 auto;
  height: auto;
 
}

 .container__principal--title {  
  margin: 0;
  padding: 0;
  font-size: 4rem;
 }
 .container__principal--subtitle {
  padding-bottom: 1rem;
 }

/*  .container__principal--all-services {
  margin: 0;
} */
}
